* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color:#370617;
}

h1{
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 30px  0;
  background-color: #9D0208;
}


#container{
  display: flex;
  justify-content: flex-start;
  width:100%;
  height: 100%;
  flex-wrap: wrap;
}

.movie{
  border:1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width:30%;
}



.yellow{
  color:yellow;
}

.language{
  width:40px;
  height:auto;
}
