* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 14px;
  color:#370617;
  background-color: #5C7084;
}

/* header section ----------------------- */
header{
  position: fixed;
  top:0;
  left:0;
  padding:0 60px;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:80px;
  z-index: 90;
}

.bg{
  position: fixed;
  top:0;
  left:0;
  background-color: #1E3231;
  width:100%;
  height:80px;
  z-index: 20;
  opacity: .8;
}

button{
  padding:7px 30px;
  border:none;
  border-radius: 3px;
  background-color: #5C7084;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
}

input{
  margin-right: 20px;
  padding:6px 30px;
  font-weight: bold;
  letter-spacing: 2px;

  border:none;
  background-color: white;
  color: ##5C7084;
  font-weight: bold;
}

::placeholder,{
 color: #365956;
 font-weight: bold;
}

::-moz-placeholder{
 color: #365956;
 font-weight: bold;
}


h1{
  animation: anim 3s infinite;
  font-size: 30px;
  color: white;
  text-align: center;
  transition: 1s;
}

h1::first-letter{
  color:#CF1259;
}

@keyframes anim {
  0% {letter-spacing: 1px;}
  50% {letter-spacing: 10px;}
  70% {letter-spacing: -2px;}
  100% {letter-spacing: 1px;}
}

/* Main section ----------------------- */
#container{
  margin-top: 100px;
  padding:20px 50px;
  display: flex;
  justify-content: center;
  width:100%;
  height: 100%;
  flex-wrap: wrap;
}

li.movie{
  color: white;
  position: relative;
  top:0;
  left:0;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #365956;
  border-radius: 5px;
  width:342px;
  height: 460px;
  overflow:hidden;
}

li.movie>span{
  padding:5px 20px 5px 20px;
}

li.movie>span:first-of-type{
  padding-top: 25px;
}

.colored{
  /* color:#B7C2CD; */
  color: #CF1259;
}


.title_col{
  color: #F05691;
}

.text_col{
  color: white;
}

li.movie .language{
  width:40px;
  height:auto;
}

li.movie img.poster{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  opacity:1;
  transition: all .3s;
}

.movie .image_not_found{
  font-size: 20px;
  font-weight: bold;
  color:#CF1259;
  position: absolute;
  width:80%;
  top:50%;
  right:50%;
  transform: translateX(50%);
  text-align: center;
  z-index: 2;
}

.movie .overview{
  margin: 5px 15px 0 15px;
  padding-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 114px;
  overflow-y: scroll;
  border: 1px solid white;
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie .overview::-webkit-scrollbar {
  display: none;
}

.movie .cast{
  padding-top: 15px;
  list-style-type: none;
}

.movie:hover{
  cursor: pointer;
}

#src_btn:hover{
  cursor:pointer;
  background-color: #CF1259;
}



@media all and (max-width: 720px){


  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    height: 70px;
  }

  #search_bar{
    min-width: 342px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1{
    animation: none;
    font-size: 30px;
    color: white;
    text-align: center;
    transition: 1s;
  }


  input{
    flex-grow: 1;
    margin-right: 5px;
    padding:6px 3px;
    font-weight: bold;
    letter-spacing: 0px;
  }

  button{
    padding:7px 10px;
    border:none;
    border-radius: 3px;
    background-color: #5C7084;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
  }



}


@media all and (max-width: 470px){

  header{
    padding: 0 5px;
  }

 #container{
   padding: 0 0;
 }

  .movie{
    margin:5px;
  }

  li.movie .language{
    width:20px;
    height:auto;
  }

  .movie .overview{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 70px;

  }

}
